# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build directories and output
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeUserPresets.json

# IDEs and Editors
.idea/
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Local test runner
test.c

